body{
    background-color: #F6F4F1;
    color: #F6F4F1;
    font-family: poppinsmedium;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
flex-direction: column;
line-height: 10px;
}

main{
    display: flex;
    flex-direction: row;
}

li{
    display: inline-block;
    margin: 20px;
}

a{
    color: #6D3F1E;
}

a:hover{
    color: #06BF00;
    transition: 0.3s all;
}

#cadastre-se-btn{
border: 2px solid #311D14;
padding: 10px;
border-radius: 15px;
}

#cadastre-se-btn:hover{
background-color: #311D14;
color: #F6F4F1;
}

#iniciar{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

h2{
    font-size: 56px;
    line-height: 10px;
    font-family: poppinsmedium;
}

span{
    color: #311D14;
}

p{
    line-height: 20px;
    max-width: 500px;
    color: #6D3F1E;
    font-family: poppinssemibold;
}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

form [type="submit"]{
    height: 50px;
    width: 100%;
    background-color: #311D14;
    color: white;
    font-weight: bold;
}

form [type="submit"]:hover{
    cursor: pointer;
}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}


#creditoslogo{
    margin-right: 20px;
}

p1{
    line-height: 20px;
    max-width: 500px;
    color: #6D3F1E;
    font-family: poppinssemibold;
    text-align: center;
}
